@import "./reset.scss";
@import "./variable.scss";
@import "./mixin.scss";

html,
body {
  max-width: 750Px;
  min-width: 320Px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  // 解决IScroll拖拽卡顿问题
  touch-action: none;
}

body {
  @include font_size($font_medium);
  //@include font_size(50px);
  //font-size: 50px;
  font-family: Helvetica, sans-serif, STHeiTi;
}

img {
  vertical-align: bottom;
}